
/** Contacto **/

.formulario-contacto {
    background-color: #ffffff;
    padding: 5rem;
    @media (min-width: 768px) {
            margin-top: -10rem;
        }
    .campo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        label {
            flex: 0 0 8rem;
        }
    }
    textarea {
        height: 20rem;
        flex: 1;
        border: 1px solid #e1e1e1;
        padding: 1rem;
    }
    .enviar {
        display: flex;
        justify-content: flex-end;
    }
}

.formulario-contacto .campo input:not([type="submit"]){
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}
