

/** Footer **/


.site-footer {
    background-color: #000000;
    padding: 3rem;
    margin-top: 4rem;
    p {
        color: #ffffff;
        font-size: 4rem;
        font-weight: 400;
        font-family: 'PT Sans', sans-serif;
        text-align: center;
        span {
            font-weight: 700;
        }
    }
}
